<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
        <pattern>%highlight(%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n)</pattern>
    <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern> -->
    </encoder>
  </appender>

  <logger name="org.hibernate" level="ERROR" />
  <logger name="org.jboss.logging" level="OFF" />

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
