name: Build Docker image via Buildah

on: 
  workflow_dispatch:

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ngmaibulat/tcping-buildah
    IMAGE_TAG: 0.0.${{ github.run_number }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to registry
        # This is where you will update the personal access token to GITHUB_TOKEN
        run: |
          sudo apt install podman
          echo "${{ secrets.GITHUB_TOKEN }}" | podman login ghcr.io -u $ --password-stdin
          
      # - name: Buildah Action
      #   uses: redhat-actions/buildah-build@v2
      #   with:
      #     image: ${{ ENV.REGISTRY }}/${{ ENV.IMAGE_NAME }}
      #     tags: latest
      #     containerfiles: |
      #       ./Dockerfile
      #     # build-args: |
      #     #   some_arg=some_value


      - name: Push image
        run: |
          IMG=${{ ENV.REGISTRY }}/${{ ENV.IMAGE_NAME }}
          buildah bud -t $IMG:latest .
          podman push $IMG
