name: GraalVM Native Image

on:
    workflow_dispatch:
    push:
        tags:
            - "*"

jobs:
    Run:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: GitHub Action for GraalVM
              uses: graalvm/setup-graalvm@v1
              with:
                java-version: '20.0.1' # for a specific JDK 17; or '17' for the latest JDK 17
                distribution: 'graalvm' # New 'distribution' option

            - name: Run single command
              run: echo "running pwd"; pwd

            - name: Build via Gradle
              run: ./gradlew build

            - name: JPackage
              run: |
                  rm -fr install
                  mkdir install
                  cp build/libs/tcpping-all.jar install/tcpping.jar
                  jpackage --version
                  jpackage --type deb --input install --main-jar tcpping.jar --name tcpping --app-version 1.0.3
                  jpackage --type rpm --input install --main-jar tcpping.jar --name tcpping --app-version 1.0.3
                  jpackage --type msi --input install --main-jar tcpping.jar --name tcpping --app-version 1.0.3
                  jpackage --type exe --input install --main-jar tcpping.jar --name tcpping --app-version 1.0.3
                  mv tcpping-*.pkg install/
                  ls -la ./install

            - name: Make Native Image
              run: |
                  cd install
                  native-image -jar tcpping.jar --no-fallback -H:+BuildReport -H:Name=tcpping-linux
                  ./tcpping-linux
            
            - name: Upload Native Image to S3
              run: |
                  ls -la
            
            - name: Create Snap Package
              run: |
                  ls -la
            
            - name: Upload Snap Package
              run: |
                  ls -la
            
            - name: Create Docker Image
              run: |
                  ls -la
            
            - name: Upload Docker Image
              run: |
                  ls -la
