name: GraalVM Native Image

on:
    workflow_dispatch:
    push:
        tags:
            - "*"

jobs:
    Run:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: GitHub Action for GraalVM
              uses: graalvm/setup-graalvm@v1 # https://github.com/marketplace/actions/github-action-for-graalvm
              with:
                java-version: '20.0.1'
                distribution: 'graalvm' # New 'distribution' option

            - name: Run single command
              run: echo "running pwd"; pwd

            - name: Build via Gradle
              run: ./gradlew build

            - name: JPackage
              run: |
                  echo "https://docs.oracle.com/en/java/javase/20/docs/specs/man/jpackage.html"
                  rm -fr install
                  mkdir install
                  cp build/libs/tcpping-all.jar install/tcpping.jar
                  jpackage --version

            - name: Make Native Image
              run: |
                  cd install
                  native-image -jar tcpping.jar --no-fallback -H:+BuildReport -H:Name=tcpping-linux
                  ./tcpping-linux
                  echo ${{ secrets.AWS_KEY_ID }}
                  echo ${{ secrets.AWS_BUCKET }}
            
            - name: Upload Native Image to S3
              uses: shallwefootball/s3-upload-action@master
              with:
                aws_key_id: ${{ secrets.AWS_KEY_ID }}
                aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws_bucket: ${{ secrets.AWS_BUCKET }}
                source_dir: 'install'
                destination_dir: /tcpping/${{ github.sha }}
            
            - name: Create Snap Package
              run: |
                  ls -la
            
            - name: Upload Snap Package
              run: |
                  ls -la
            
            - name: Create Docker Image
              run: |
                  ls -la
            
            - name: Upload Docker Image
              run: |
                  ls -la
