name: Build Docker image via Kaniko

on: 
  workflow_dispatch:

env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ngmaibulat/tcping
    IMAGE_TAG: 0.0.${{ github.run_number }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Buildah Action
        uses: redhat-actions/buildah-build@v2
        with:
          image: ngmaibulat/tcping-buiuldah
          tags: latest 0.0.${{ github.run_number }}
          containerfiles: |
            ./Dockerfile
          build-args: |
            some_arg=some_value


      - name: Push image
        run: |
          IMG=${{ ENV.REGISTRY }}/${{ ENV.IMAGE_NAME }}
          docker push $IMG --all-tags --quiet